<section id="viewRent">
        <img src="https://images.pexels.com/photos/534124/pexels-photo-534124.jpeg?h=350&auto=compress&cs=tinysrgb" style="width:304px;height:228px;">
                
        <div ng-repeat="rent in rc.rentals" class="col-md-4">
                <ul class="list-group">
                <li class="list-group-item">SQFT: {{rent.sqft}}</li>
                <li class="list-group-item">City: {{rent.city}}</li>
                <li class="list-group-item">Monthly Cost: {{rent.rent}}</li>
                </ul>        
            <div>
    </section>

    