<section id="viewRent">
        <div ng-repeat="rent in sc.sale">
                <div>SQFT: {{sale.sqft}}</div>
                <div>City: {{sale.city}}</div>
                <!-- <button ng-click="rc.toggleRent()">Show punchline</button>             -->
                <div>Monthly Cost: {{sale.cost}}</div>
                <!-- <button ng-click="rc.previousRiddle()">Previous</button> -->
          
                <!-- <button ng-click="rc.nextRiddle()">Next</button> -->
            <div>
    </section>