<section id="viewRent">
                <img src="https://static.pexels.com/photos/106399/pexels-photo-106399.jpeg" style="width:304px;height:228px;">>
                 <div ng-repeat="sale in sc.sales" class="col-md-4">
                <ul class="list-group">
                        <div class="row justify-content-md-left">
                                <div class="col col-lg-2">
                <li class="list-group-item">SQFT: {{sale.sqft}}</li>
                <li class="list-group-item">City: {{sale.city}}</li>
                <li class="list-group-item">Cost: {{sale.cost}}</li>
                </ul>
   


    </section>